node_modules
.next
out
build
playwright-report
test-results
pnpm-lock.yaml
dist
__qa_bad__.tsx
.husky/*
*.svg
**/.gitkeep
*.ico
coverage
.vscode
.git

# Ignore test reports – not source of truth
docs/TESTING/EP02/Test_Report_EP02.md
docs/TESTING/EP03/Test_Report_EP03.md